
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "Sign In", new_user_session_path

//- if controller_name != 'sessions' 
//  = link_to "Sign Up", new_user_registration_path

