@import "bourbon";

html {
  margin: 0;
}
body {
  margin: 10px;
  color: #AEBBBB;
  font-family: Verdana;
  background-image: url('/images/grey_pattern.png');
}

a {
  color: #AEBBBB;
  text-decoration: none;
  &:hover {
    color: #88D525;
  }
}


body > #page > .header {
  @include display-box;
}

#page > .header > h1 {
  line-height: 1em;
  margin: 0;
}

#page > .body > h1 {
  color: #AEBBBB;
  font-size: 1.3em;
}


.section.authenticate {
  background-color: #FD476D;
  background-color: rgba(255, 98, 128, 0.2);
  padding: 8px;
  @include inline-block;
  @include border-radius(8px);
  a {
    display: block;
  }
}

form .input {
  margin-bottom: 10px;
}

form .input label {
  display: block;
  color: #AEBBBB;
}

.section.articles.index {
  @include display-box;
  @include box-orient(horizontal);
  > .body {
    @include box-ordinal-group(2);
    @include box-flex(1);
  }
  > .navigation {
    @include box-ordinal-group(1);
    width: 160px;
  }

  .article {
    @include display-box;
    @include box-orient(horizontal);
    @include border-radius(6px);
    background-color: rgba(200, 200, 200, 0.2);
    padding: 10px;
    margin-bottom: 10px;
    .author {
      width: 60px;
      height: 60px;
      background-color: #333;
      margin-right: 10px;
    }
    .header {
      @include box-flex(2);
      h1 {
        font-size: 1em;
        input {
          background: inherit;
          border: 0;
          font-size: inherit;
          color: inherit;
          font-weight: inherit;
          &:focus {
            outline: none;
          }
        }
      }
    }

    .act {
      @include box-flex(1);
      text-align: right;
    }

  }

}

.section.articles > .body > a.new {
  background-repeat: no-repeat;
  background-image: url('/images/icons/piggy-bank.png');
  background-position: center left;
  padding-left: 20px;
}

.section.dialog {
  width: 400px;
  @include display-box;
  @include box-orient(vertical);
  @include border-radius(8px);
  @include box-shadow(1px 1px 8px 0 #666);
  padding: 8px;
  margin: 14% auto 0 auto;
  background-color: white;
  border: 1px solid #333;
  position: relative;
  a.close {
    @include inline-block;
    top: 0;
    right: 0;
    position: absolute;
    font-size: 0.8em;
    padding: 5px;
  }
}

label.article.title {
  display: none;
}

#article_title {
  width: 90%;
  border: 0;
  padding: 0;
  font-size: 1em;  
}
.section.articles.new.dialog,
.section.articles.edit.dialog { 
  > .header h1 {
    display: none;
  }
}

input[type=submit], input[type=button], a.button {
  @include linear-gradient(#c7dd54, #AEC347);
  border: 0;
  @include border-radius(5px);
  font-size: 0.9em;
}


